h1 {
    text-align: center;
    font: oblique bold 150%;
    display: block;
    margin: auto;
    background-color: palevioletred;
    width: 100%;
    height: 50%;
}

h2 {
    text-align: center;
    font: oblique bold 80%;
    display: block;
    margin: auto;
    background-color: pink;
    width: 100%;
    height: 50%;
}

pre {
    display: block;
    margin: auto;
    text-align: center;
    font: oblique bold 70%;
    background-color: aqua;
    width: 50%;
    height: 10%;
}

#wellcome {
    width: 100%;
    height: 100vh;
    margin: 0%;
    border-radius: 0%;
    background-image: url(../picture/pastizales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
}

#profilepic {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}